.cardList {
  background: #f2f0f4;
  padding: 20px 12px;
}

.contentWrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.frame1 {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: space-between;

  & h2 {
    height: 40px;
    display: flex;
    align-items: center;
  }
}

table {
  border: none;

  & tbody {
    border: none;

    & tr:nth-child(odd) {
      background-color: var(--md-sys-color-surface-container-low);
    }

    & td {
      border: none;
      padding: 8px;
    }

    & .actionsTd {
      width: 10%
    }
  }

  & .courseDetails {
    display: flex;
    flex-direction: column;
  }
}
