.available_course_card {
  display: flex;
  gap: 16px;
  padding: 1rem;
  align-self: stretch;
  border-radius: 8px;
  background: grey;
  box-shadow: 0 0 4px #0003;
  flex: 1 1 300px;

  height: 160px;

  & h3 {
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & #button_row {
    display: flex;
    justify-content: end;

    align-self: normal;
  }

  & course_main_content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.post_card_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  & .main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
  }

  & .main .title {
    align-self: stretch;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;
  }

  & .footer {
    display: flex;
    justify-content: end;
    align-items: flex-start;
    align-content: flex-start;
    gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;

    & .user-info {
      display: flex;
      padding: 8px 0px;
      align-items: center;
      align-content: center;
      gap: 16px;
      flex-wrap: wrap;
      & .info-item {
        display: flex;
        align-items: center;
        gap: 4px;
        color: #444;
        font-size: 11px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.5px;
        & span {
          width: 18px;
          height: 18px;
          border-radius: 10px;
          background: #d6d6d6;
        }
      }
    }
  }
}
