.modalBackground {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 300px;
  height: 250px;
  background: #FAF9FD;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);

  & form {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & div {
      display: flex;
      justify-content: center;
      gap: 10px;
      width: 100%;
    }
  }
}
