.card {
  width: 100%;

  display: flex;
  padding: 12px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  flex-wrap: wrap;
  gap: 24px;

  border-radius: 12px;
  background: var(--md-sys-color-surface);
}

.courseName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
}

.courseProgress {
  display: flex;

  &.concluded {
    color: var(--md-sys-color-on-primary-fixed-variant);

    & .progressPercentage {
      font-weight: bolder;
    }
  }

  & .progressPercentage {
    text-align: end;
    width: 2em;
  }
}
