.button_wrapper {
    display: flex;
    justify-content: center;
    background: aliceblue;
    color: black;

    height: 40px;
    width: 100%;

    & input {
        width: 100%;
        cursor: pointer;
    }
}