.navbar_wrapper {
  display: flex;
  padding: 4px 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  gap: 8px;

  height: 56px;
  width: 100%;

  background: #3274dc;
}

.frame_2 {
  display: none;
}
.image_holder {
  background-color: var(--md-sys-color-surface);
  border-radius: 0.25em;
}

.image_holder,
picture,
source,
img {
  height: 48px;
}

.user_icon {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;

  border: 1px solid black;
  border-radius: 12px;
}

.button_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;

  align-self: center;
}

/* On Desktop */
@media (min-width: 1000px) {
  .frame_2 {
    display: flex;
    padding: 0px 12px;
    align-items: center;
    gap: 10px;
  }

  .button_wrapper {
    width: 40%;
  }
}
