@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  background: #1B1B1F;
  color: aliceblue;
}

header {
  width: 100%;

  list-style: none;
}