@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('./core/styles/theme.css');

:root {
  font-family: 'Roboto', sans-serif;
  background: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);

  --m-3-sys-light-on-surface: #1b1b1f;
}

header {
  width: 100%;
  list-style: none;
}
