.card {
  width: 100%;

  display: flex;
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 12px;
  background: var(--md-sys-color-secondary-container);
}
