.content_wrapper {
  width: clamp(0px, 100%, 1128px);
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  padding-top: 30px;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
