.wrapper {
  width: clamp(0px, );
  padding: 12px;
  align-self: stretch;
  border-radius: 12px;
  background: var(
    --m-3-surfaces-light-surface-1,
    linear-gradient(0deg, rgba(0, 91, 192, 0.05) 0%, rgba(0, 91, 192, 0.05) 100%)
  );

  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}

.content {
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
